<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset='utf-8'>
    <title>basePage</title>
</head>
<body>
    <form>
        <p>Title:<input type = "text" name="title"></p>
        <p>Description:<textarea> name="description" cols ="20" rows="4"</textarea></p>
        <p>
            <span>Client:</span>
            <select name="client">
                <option value="A">Client A</option>
                <option value="B">Client B</option>
                <option value="C">Client C</option>
            </select>
        </p>
        <p>Client Priority:<input type="number" name="priority"></p>
        <p>Target Date:<input type ="date" name="date"></p>
        <p>Ticket URL:<input type="url" name="url"></p>
        <p>
            <span>Product Area:</span>
            <select name="area">
                <option value="policies">Policies</option>
                <option value="billing">Billing</option>
                <option value="claims">Claims</option>
                <option value="reports">Reports</option>
            </select>
        </p>
    </form>

</body>
</html>